.no-border {
    border: none;
}

.br-5 {
    border-radius: 5px;
}

.br-15 {
    border-radius: 15px;
}

.br-16 {
    border-radius: 16px;
}

.border-tertiary {
    border: 1px solid #005DF2;
}

.wd-100 {
    width: 100%;
}

.wd-80 {
    width: 80%;
}

.wd-35vw {
    width: 35vw;
}

.wd-8vw {
    width: 8 vw;
}

.wd-40vw {
    width: 40vw;
}

.b-greyish {
    border: 1px solid #454A6D;
}

.wd-70vw {
    width: 70vw;
}

.w-891-h-73 {
    width: 891px;
    height: 73px;
}