.m-l-60 {
    margin-left: 60px;
}

.m-r-60 {
    margin-right: 60px;
}

.m-l-10 {
    margin-left: 10px;
}

.padd-18-53 {
    padding: 18px 53px;
}

.padd-17-52 {
    padding: 17px 52px;
}

.margin-tp-20 {
    margin-top: 20px;
}

.margin-btm-20 {
    margin-bottom: 20px;
}

.m-r-30 {
    margin-right: 30px;
}

.m-l-20 {
    margin-left: 20px;
}

.padd-6-21 {
    padding: 6px 21px;
}

.margin-btm-60 {
    margin-bottom: 60px;
}

.margin-btm-10 {
    margin-bottom: 10px;
}

.margin-btm-30 {
    margin-bottom: 30px;
}

.padd-15-43 {
    padding: 15px 43px;
}

.padd-11-63 {
    padding: 11px 63px;
}

.padd-t-30 {
    padding-top: 30px;
}

.l-15 {
    left: 15px;
}

.l-361 {
    left: 361px;
}

.padd-b-30 {
    padding-bottom: 30px;
}

.padd-18-18 {
    padding: 18px 18px;
}